

body {
  background: url("http://static.simpledesktops.com/uploads/desktops/2016/02/08/sunRising.png");
  background-size: cover;
}

.name {
  color: white;
}

img {
  float: right;
  z-index: -1;
}
